<launch>
	<!-- arguments -->
	<arg name="pkg" value="$(find intellwheels_desc)"/>

	<!-- parameters -->
	<param name="robot_description" command="xacro '$(arg pkg)/urdf/robot1/wheelchair.urdf.xacro'"/>

	<!-- tf publisher -->
	<node name="r1_joint_pub" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="r1_robot_pub" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
